* {
    font-family: 'Comfortaa', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body .iconoatras {
    position: fixed;
    font-size: 20px;
    top: 30px;
    left: 30px;
    width: 50px;
    height: 50px;
    line-height: 53px;
    border: none;
    border-radius: 50%;
    transition: .3s ease all;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.534);
}

input {
    background: none;
}

body .iconoatras:focus {
    outline: none;
    border: none;
}

body .iconoatras:hover {
    transform: scale(1.1);
    color: rgb(8, 255, 8);
    cursor: pointer;
}

.principal {
    display: flex;
    height: 100%;
    width: 100%;

}

.seccion1 {

    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    padding: 30px;

}

.seccion2 {

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 50%;
    height: 100vh;
    padding: 30px;
    overflow: hidden;

}

body {
    font-family: sans-serif;
    overflow: hidden;
}

.login {
    position: absolute;
    color: rgb(68, 66, 66);
    width: 60%;
    max-width: 450px;
    border: 1px solid #1b4c6d;
    padding: 20px;
    border-radius: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #223542;
}

.login h2 {
    color: #318ac5bc;
    text-align: left;
    font-size: 35px;
    font-weight: 500;
    width: 130px;
    margin: 20px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.textbox {
    width: 80%;
    overflow: hidden;
    font-size: 20px;
    color: rgba(2, 141, 255, 0.37);
    padding: 12px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom: 2px solid #1b4c6d6c;


}

.textbox i {
    width: 20px;
    margin-right: 5px;
    float: left;
    text-align: center;
}

.textbox:focus i {
    color: #2ecc71;
}


.textbox input {
    border: none;
    outline: none;
    color: rgb(177, 177, 177);
    font-size: 16px;
    width: 80%;
    float: left;
    margin: 0 10px;
    transition: ease all;
    background: none;
}

input:focus .textbox {
    border-bottom: 5px solid #2ecc71;
}

.btn {
    width: 83%;
    background-color: #31505f;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 55px;
    font-size: 18px;
    cursor: pointer;
    margin: auto;
    transition: .4s ease all;
}

.btn:hover {

    background-color: rgb(40, 64, 83);
    color: #318ac5bc;
    transform: scale(1.02);

}

.btn:focus {
    outline: none;
}

.contenido {
    position: absolute;
    background-size: contain;
    overflow: hidden;
}


.texto img {
    width: 400px;
    height: 300px;
    object-fit: contain;
}

.fondosqui {
    width: 800px;
    height: 400px;
    background-size: 100%100%;
    opacity: 0.07;
}

form {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width : 600px) {

    .principal .seccion1 {
        display: none;
    }

    .principal .seccion2{
        width: 100%;
    }

  .seccion2  .login{
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }
    .iconoatras {
       z-index: 1;
    }
    .login form{
        margin-top: 60px;
    }

}