body {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #43434360, #00000067), url(../Images/Logomejorado.png);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #43434359, #00000054), url(../Images/Logomejorado.png);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Comfortaa', cursive;

    background-size: contain;
    background-attachment: fixed;

}

.otro {

    width: 60%;
    padding: 60px;
    display: flex;
    margin: auto;
    margin-top: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 0 10px 0 rgba(7, 7, 7, 0.404);
    overflow: hidden;
    margin-bottom: 80px;
    max-width: 800px;


}

.otro h5{
    width: 90%;
    text-align: left;
    padding-left: 10px;
    font-size: 12px;
    color: #5f5f5f91;
}

.inputssss{
    width: 90%;
    border: none;
    border:2px solid rgba(107, 107, 107, 0.178);
    margin: auto;
    padding: 6px 20px;
    border-radius: 30px;
    margin-bottom: 10px;
    color: #535353;


    
}

.inputssss:focus{
    outline: none;
}

.btnatras {

    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    margin-left:40px;
    margin-top:40px;
    box-shadow: 0 0 10px 0 rgba(7, 7, 7, 0.404);
    border: none;
    outline: none;
    transition: .3s ease all;
}

.btnatras:hover {
    transform: scale(1.1);
    outline: none;

}

.botonguardar{
    width: 90%;
    border: none;
    padding: 10px;
    border-radius: 40px;
    transition: .4s ease all;
    margin-top: 20px;
}

.botonguardar:hover{
    background-color: #111111;
    color: rgb(47, 194, 91);
    transform: scale(1.03);
}


.botonguardar:focus{
    outline: none;
}